:root {
  --primary: #6eb4f7;
  --secondary: #fcfcfc;
  --success: #5bd46d;
  --error: #fd918d;
  --warning: #fece72;
}

main {
  display: grid;
  width: 100%;
  min-height: 100vh;
  grid-template-areas:
    "title flexibility"
    "graph flexibilityTable"
    "agreementTable agreementTable";
  grid-template-rows: 75px 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.align-left {
  display: flex;
  justify-content: flex-end;
}
.gap-1 {
  gap: 1rem;
}
.gap-1_5 {
  gap: 1.5rem;
}
.gap-2 {
  gap: 2rem;
}

.hidden {
  display: none;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.justify-between {
  justify-content: space-between;
}

.positive-bg {
  background-color: #00ff0060;
}

.neutral-bg {
  background-color: #ffff0060;
}

.negative-bg {
  background-color: #ff000060;
}

button:disabled {
  border: none;
  cursor: not-allowed;
  color: #333;
  background-color: #eee;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #eee),
    color-stop(100%, #ccc)
  );
  background-image: -webkit-linear-gradient(top, #eee 0%, #ccc 100%);
  background-image: linear-gradient(to bottom, #eee 0%, #ccc 100%);
}

button:disabled:active {
  border: none;
  cursor: not-allowed;
  color: #333;
  background-color: #eee;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #eee),
    color-stop(100%, #ccc)
  );
  background-image: -webkit-linear-gradient(top, #eee 0%, #ccc 100%);
  background-image: linear-gradient(to bottom, #eee 0%, #ccc 100%);
}

.spinner {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#toast {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#toast.show {
  visibility: visible; /* Show the snackbar */
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
